/* HrContacts.css */

.App {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  input, select {
    margin: 5px 0;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    margin: 5px 0;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  button.cancel {
    background-color: #FF5733;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  li div {
    margin: 5px 0;
  }
  
  strong {
    display: inline-block;
    width: 120px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  hr {
    margin: 20px 0;
  }
  
  .hr-contact-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  